body {
    font-family: sans-serif;
    background-color: darkcyan;
    color: lightyellow;
}
h1 {
    background-color: aquamarine;
}
h2 {
    border-bottom: 1px solid blue;
}
header img {
    width:40px
}
